@model InvoiceManager.Models.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    @Model.address.Street @Model.address.Number
    @Model.address.PostalCode @Model.address.City
    <abbr title="Phone">PhoneNo:</abbr>
    @Model.applicationUser.PhoneNumber
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="@Model.applicationUser.Email">@Model.applicationUser.Email</a><br />    
</address>