@model InvoiceManager.Models.Domains.ApplicationUser
@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>

    <abbr title="Phone">PhoneNo:</abbr>
    @Model.PhoneNumber
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="@Model.Email">@Model.Email</a><br />    
</address>