@model IEnumerable<InvoiceManager.Models.Domains.Product>
@{
    ViewBag.Title = "Lista produktów";
}
<h1 class="mb-3">Lista odbiorców</h1>
<button class="btn btn-primary mb-3" onclick='window.location.href="@Url.Action("EditProduct","Home")"'>Dodaj</button>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Odbiorca</th>
                <th scope="col">Adres</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        <a class="font-weight-bold" style="font-weight: bold" href="@Url.Action("EditProduct","Home", new {id= product.Id})">@product.Name</a>
                    </td>

                    <td>@product.Value</td>                    
                    <td>
                        <a class="btn btn-secondary btn-sm" href="@Url.Action("EditProduct","Print", new {id= product.Id})"
                           onclick="generatePdf('@product.Id', this)">
                            Generuj PDF
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteInvoice('@product.Id', this)">
                            Usuń
                        </button>
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>Brak odbiorców do wyświetlania</div>
}
@section Scripts
    {
    <script type="text/javascript">

        function deleteInvoice(id, btn) {
            if (!confirm("Czy na pewno chcesz usunąć product?"))
                return;

            $.ajax({
	            type: 'POST',
	            url: "@Url.Action("DeleteProduct", "Home")",
	            data: {
		            id: id
	            },
	            success: function (data) {
                        if (data.Success) {
                            var row = btn.parentNode.parentNode;
                            row.parentNode.removeChild(row);
		                }
		                else {
			                alert(data.Message);
		                }
	            },
	            error: function (data) {
			        alert(data.Message);
	            },
	            dataType: 'json'
                });
        }
        function generatePdf(id) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("ProductToPdf", "Print")",
                data: {
                    id: id
                },
                success: function (data) {
                    window.location = '@Url.Action("DownloadProductPdf", "Print")' + '?fileGuid=' + data.FileGuid + '&fileName=' + data.FileName;
                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json',
                cache: false

            });
        }
    </script>
}

